*{
    margin: 0;
    padding: 0;
    background-color: rgb(20, 2, 2);
    width: fit-content;
    
    
}
section{
    height: 40vh;
    position: static;

}
#head{
    margin-left: 100px;
    gap: 50px;
}
#lin{
    translate: 1000px;
    margin-top: 20px;
    
    
}
#git{
   margin-top: -30px; 
   translate: 1050px;
}
#ins{
    margin-top: -30px;
    translate: 1100px;
}
#about{
    color:antiquewhite;
    font-size: 100px;
   font-family:Lora;
   margin: 100px;
   
}
#line{
    height: 200px;
    width: 5px;
    background-color: olivedrab;
    margin-left: 90px;
    translate: 0px -80px;
}
#para{
    color: white;
    translate: 130px  -280px;
    line-height: 25px;
    margin-right: 750px;
}
#line2{
    height: 130px;
    width: 5px;
    background-color: olivedrab;
    margin-left: 790px;
    translate: 100px -500px;
    border-radius: 10px;
}
#line3{
    height: 130px;
    width: 5px;
    background-color: white;
    margin-left: 890px;
    translate: 25px -650px;
    transform: rotate(90deg);
    border-radius: 10px;
}
#right{
    margin-top: -120px;
}
#more{
    color: white;
    margin-left: 890px;
    translate: 15px -470px;
    font-size: 25px;
}
#li{
    font-size: 18px;
    list-style: none;
    color: white;
    margin-left: 890px;
    translate: 30px -700px;
    line-height: 35px;
}
#li a{
    color: white;
    text-decoration:dotted;

}

  

